<div class="jumbotron jumbotron-fluid"> 
    <div class ="container">
        <h1><b>Access Denied</b></h1>
        <p class="lead">You aren't authorized to access this page.</p>
    </div>
</divclass>