@model ForgotPasswordViewModel

@{
    ViewBag.Title = "ForgotPassword";
}

<h2>Forgot password</h2>
<p>Enter your email to receive a password reset link.</p>

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["AlertType"] mt-3">@TempData["Message"]</div>
}

<form method="post">
    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" class="form-control" asp-for="Email" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Send Link</button>
</form>

