@model ResetPasswordViewModel

@{
    ViewBag.Title = "ResetPassword";
}

<h2>Redefinir Senha</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["AlertType"] mt-3">@TempData["Message"]</div>
}

<form method="post">
    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="Token" />

    <div class="form-group">
        <label for="password">Nova Senha</label>
        <input type="password" class="form-control" asp-for="NewPassword" required />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Redefinir Senha</button>
</form>