@model WebIdentity.Entities.Employee

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="BirthDate" class="control-label">Birth Date</label>
                <input asp-for="BirthDate" class="form-control" type="date"/>
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="(00) 00000-0000"/>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="DateAdmission" class="control-label">Date Admission</label>
                <input asp-for="DateAdmission" class="form-control" />
                <span asp-validation-for="DateAdmission" class="text-danger"></span>
            </div>

                <div class="form-group mb-2">
                    <label asp-for="SectorId" class="form-label">Sector</label>
                    <select asp-for="SectorId" class="form-select">
                        <option value="" disabled selected>Select a sector</option>
                        @foreach (var sector in ViewBag.Sectors)
                        {
                            <option value="@sector.Value">@sector.Text</option>
                        }
                    </select>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="DepartmentId" class="form-label">Department</label>
                    <select asp-for="DepartmentId" class="form-select">
                        <option value="" disabled selected>Select a department</option>
                        @foreach (var department in ViewBag.Departments)
                        {
                            <option value="@department.Value">@department.Text</option>
                        }
                    </select>
                </div>

            <div class="form-group mb-3">
                <label asp-for="HierarchicalLevel" class="control-label">Level</label>
                <select asp-for="HierarchicalLevel" class="form-select" asp-items="ViewBag.HierarchicalLevels" required>
                    <option value="" disabled selected>Select a level</option>
                </select>
                <span asp-validation-for="HierarchicalLevel" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/dynamicSelects.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
