@model WebIdentity.Entities.Employee

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="BirthDate" class="control-label">Birth Date</label>
                <input asp-for="BirthDate" class="form-control" type="date"/>
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="DateAdmission" class="control-label">Date Admission</label>
                <input asp-for="DateAdmission" class="form-control" />
                <span asp-validation-for="DateAdmission" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">

                <label asp-for="Sector" class="control-label"></label>
                <select asp-for="SectorId" class="form-select" asp-items="ViewBag.Sectors">
                    <option value="" disabled selected>Select a sector</option>
                </select>

               @*  <label asp-for="Sector" class="control-label"></label>
                <select asp-for="SectorId" class="form-select" asp-items="ViewBag.Sectors"  id="sectorDropdown" required>
                    <option value="" disabled selected>Select a sector</option>
                </select> *@
                @* <input asp-for="Sector" class="form-control" /> *@
               @*  <span asp-validation-for="Sector" class="text-danger"></span> *@
            </div>
            <div class="form-group mb-2">

                <label asp-for="Department" class="control-label"></label>
                <select asp-for="DepartmentId" class="form-select" asp-items="ViewBag.Departments">
                    <option value="" disabled selected>Select a department</option>
                </select>

                @* <label asp-for="Department" class="control-label"></label>
                <select asp-for="DepartmentId" class="form-select" asp-items="ViewBag.Departments" id="departmentDropdown" required>
                    <option value="" disabled selected>Select a department</option>
                </select> *@
                @* <input asp-for="Sector" class="form-control" /> *@
                @* <span asp-validation-for="Department" class="text-danger"></span> *@
            </div>

            <div class="form-group mb-3">
                <label asp-for="HierarchicalLevel" class="control-label">Level</label>
                <select asp-for="HierarchicalLevel" class="form-select" asp-items="ViewBag.HierarchicalLevels" required>
                    <option value="" disabled selected>Select a level</option>
                </select>
                <span asp-validation-for="HierarchicalLevel" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
